.heroArea{
    width: 100%;
   
    max-width: 1015px;
    margin: auto;
    margin-top: 10rem;
    .container
    {
        display: flex;
        flex-flow: column;
        
        .texto{
            width: 100%;
            margin-bottom: 120px;
            text-align: center;
            color: $VeryDarkCyan;
            h1{
                font-family: $HeadingsFamily;
                font-size: 2.5rem;
                width: 100%;
                margin-bottom: 40px;
            }
            p{
                
                width: 100%;
                max-width: 500px;
                margin: auto;
                margin-bottom: 40px;
                font-size: 500;
                
            }
            .btn-getStart{@include btn;}
        }

        .imagen{
            width: 100%;
            max-width: 800px;
            margin: auto;
            margin-bottom: 80px;
            
            
            img{
                width: 100%;
            }
        }
        .numbers{
            display: flex;
            justify-content: space-around;
            align-items: center;
            

            .box{
                
                h2{
                    font-family: $HeadingsFamily;
                    color: $VeryDarkCyan;
                    font-size: 3.8rem;
                }
                p{
                    font-weight: 600;
                    color: #8F939B;
                    text-align: center;
                }
            }
        }
    }
}